# Ignore absolutely everything by default
*

# Allow only the professional portfolio files
!README.md
!.gitignore

!Data/
!Data/**

!Power Query/
!Power Query/**

!DAX Measures/
!DAX Measures/**

!Dashboard/
!Dashboard/**
